:root {
  --primary-color: #4caf50;
  --secondary-color: #ffffff;
  --accent-color: #ffc107;
  --complementary-color: #212121;
  --link-desktop-size: 1.1em;
  --link-mobile-size: 1em;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Work Sans", sans-serif;
  background-color: var(--secondary-color);
  color: var(--complementary-color);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Slab", serif;
  color: var(--secondary-color);
}
a {
  font-family: "Ubuntu", sans-serif;
}
.button,
.btn {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
.button:hover,
.btn:hover {
  background-color: var(--accent-color);
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
#loader {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #loader img {
    width: 150px;
    border-radius: 50%;
    animation: blink 1s infinite;
  }
  .loader-text {
    margin-top: 10px;
    font-family: "Belanosima", sans-serif;
    color: var(--secondary-color);
    font-size: 1em;
  }
  .navbar {
    background-color: var(--primary-color);
    padding: 10px;
  }
  .navbar .navbar-brand img {
    width: 80px;
    transform: scale(1.1);
  }
  .navbar .dropdown-menu {
    border-radius: 0px;
  }
  .navbar .navbar-toggler {
    border: none;
  }
  .bar1,
  .bar2,
  .bar3 {
    width: 35px;
    height: 3px;
    background-color: var(--accent-color);
    margin: 8px 0;
    transition: 0.4s;
  }
  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }
  .change .bar2 {
    opacity: 0;
  }
  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }
  .navbar .dropdown-menu .dropdown-item:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
  }
  .navbar .navbar-nav .nav-link {
    color: white;
    font-weight: 600;
    font-size: var(--link-mobile-size);
  }
  .navbar .navbar-nav .active {
    color: var(--accent-color);
  }
  .navbar form select {
    background-color: #2c3333;
    color: var(--secondary-color);
    font-size: 14px;
    outline: none;
    border: 0px;
    border: 0px;
    display: none;
  }
  .navbar form .search-input {
    object-fit: cover;
    width: 200px;
    outline: none;
    border-radius: 20px 0px 0px 20px;
  }
  .navbar form #search-button {
    background-color: #2c3333;
    color: var(--secondary-color);
    outline: none;
    border: 0px;
  }
  .navbar form #search-button:hover {
    background-color: var(--complementary-color);
    color: var(--secondary-color);
  }
  .navbar .icon-container {
    align-items: first baseline;
    column-gap: 10px;
    float: left;
    margin-top: 10px;
  }

  .navbar .icon-container i {
    margin-right: 5px;
    color: var(--accent-color);
    transition: 0.5s ease;
    font-size: 1.2em;
  }
  .navbar .icon-container a {
    text-decoration: none;
    color: var(--secondary-color);
    font-size: var(--link-mobile-size);
  }
  .navbar .icon-container a:hover i {
    transition: 0.5s ease;
    color: #ff9f29;
  }
  #carouselExampleCaptions {
    height: 50vh;
    overflow: hidden;
  }
  #carouselExampleCaptions .carousel-inner,
  #carouselExampleCaptions .carousel-item {
    height: 50vh;
  }
  #carouselExampleCaptions .carousel-inner img {
    width: auto;
    height: 50vh;
    object-fit: cover;
  }
  #carouselExampleCaptions .carousel-caption {
    top: 37%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: var(--complementary-color);
  }
  #carouselExampleCaptions .carousel-caption h5 {
    color: var(--primary-color);
    font-family: "Belanosima", sans-serif;
    font-size: 2.1rem;
    margin-bottom: 10px;
  }
  #carouselExampleCaptions .carousel-caption p {
    width: 100%;
    font-family: "Satisfy", cursive;
    font-size: 0.9rem;
    margin-bottom: 10px;
  }
  #carouselExampleCaptions .carousel-caption .btn {
    outline: none;
    border: 1px solid var(--primary-color);
    background-color: transparent;
    color: var(--complementary-color);
    border-radius: 0px;
    font-family: "Belanosima", sans-serif;
    font-size: 0.8rem;
  }
  #carouselExampleCaptions .carousel-caption .btn:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
  }
  #carouselExampleCaptions .carousel-control-prev,
  #carouselExampleCaptions .carousel-control-next {
    background-color: var(--primary-color);
    height: 25px;
    width: 25px;
    padding: 20px;
    margin: auto;
    color: var(--complementary-color);
    opacity: 1;
    display: none;
  }
  #carouselExampleCaptions .carousel-control-prev:hover,
  #carouselExampleCaptions .carousel-control-next:hover {
    opacity: 0.9;
  }
  #carouselExampleCaptions .carousel-indicators button {
    background-color: var(--primary-color);
    height: 5px;
    opacity: 1;
  }
  #carouselExampleCaptions .carousel-indicators .active {
    color: var(--complementary-color);
    background-color: #212121;
  }
  .advertisement-container {
    background: linear-gradient(
      305deg,
      rgba(255, 193, 7, 1) 35%,
      rgba(76, 175, 80, 1) 72%
    );
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .advertisement-container .col-lg-6 {
    color: black;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
  }
  .advertisement-container .large-ad {
    width: 92%;
    margin: auto;
  }
  .advertisement-container .large-ad img {
    width: 100%;
    position: relative;
    object-fit: contain;
    transform: scale(1.2);
    transition: 0.5s ease;
  }
  .advertisement-container .large-ad .content {
    position: absolute;
    top: 10%;
    width: 100%;
    padding: 10px;
  }
  .advertisement-container .large-ad .content h4 {
    color: var(--complementary-color);
    font-family: "Belanosima", sans-serif;
    font-size: 25px;
  }
  .advertisement-container .large-ad .content .btn {
    margin-top: 10px;
    outline: none;
    border: 1px solid var(--primary-color);
    background-color: transparent;
    color: var(--complementary-color);
    border-radius: 0px;
    font-family: "Belanosima", sans-serif;
    font-size: 1rem;
  }
  .advertisement-container .large-ad .content .btn:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
  }
  .advertisement-container .small-ad-row {
    height: 240px;
    position: relative;
    background-color: var(--secondary-color);
    margin: 5px;
    overflow: hidden;
    border-radius: 10px;
  }
  .advertisement-container .small-ad-row img {
    width: 100%;
    height: 90%;
    object-fit: contain;
    transition: 0.5s ease;
  }
  .advertisement-container .small-ad-row .ad-right-side .content {
    position: absolute;
    top: 25%;
    left: 3%;
    width: 80%;
  }
  .advertisement-container .ad-right-side .content h4 {
    color: var(--complementary-color);
    font-family: "Belanosima", sans-serif;
    font-size: 22px;
    padding: 10px;
  }
  .advertisement-container .stylish-font {
    font-family: "Satisfy", cursive;
    color: var(--accent-color);
  }
  .stylish-font {
    font-family: "Satisfy", cursive;
    color: var(--accent-color);
  }
  .advertisement-container .ad-right-side .content .btn {
    margin-top: 10px;
    outline: none;
    border: 1px solid var(--primary-color);
    background-color: transparent;
    color: var(--complementary-color);
    border-radius: 0px;
    font-family: "Belanosima", sans-serif;
    font-size: 0.9rem;
  }
  .advertisement-container .ad-right-side .content .btn:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
  }
  .advertisement-container .small-ad-row .ad-left-side .content {
    position: absolute;
    text-align: right;
    top: 15%;
    right: 3%;
    width: 80%;
  }
  .advertisement-container .ad-left-side .content h4 {
    color: var(--complementary-color);
    font-family: "Belanosima", sans-serif;
    font-size: 22px;
    padding: 10px;
  }
  .advertisement-container .ad-left-side .content .btn {
    margin-top: 10px;
    outline: none;
    border: 1px solid var(--primary-color);
    background-color: transparent;
    color: var(--complementary-color);
    border-radius: 0px;
    font-family: "Belanosima", sans-serif;
    font-size: 0.9rem;
  }
  .advertisement-container .ad-left-side .content .btn:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
  }
  .advertisement-container .large-ad:hover img {
    transition: 0.5s ease;
    transform: scale(1.3);
  }
  .advertisement-container .small-ad-col:hover img {
    transition: 0.5s ease;
    transform: scale(1.1);
  }

  .common-product-container {
    padding: 20px;
  }
  .common-product-container .heading {
    color: var(--complementary-color);
    font-size: 2rem;
    margin-bottom: 20px;
    font-family: "Belanosima", sans-serif;
  }
  .common-product-container .col-md-3 {
    padding: 0px;
  }
  .common-product-container .product-item {
    padding: 0px;
    position: relative;
    border: 2px solid #eeeeee;
    width: 95%;
    margin: 10px;
  }
  .common-product-container .product-item:hover {
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  }
  .common-product-container .product-item .product-img {
    text-align: center;
    width: auto;
    height: auto;
    position: relative;
  }
  .common-product-container .product-img img {
    width: 100%;
    object-fit: fill;
    position: relative;
  }
  .common-product-container .product-item .product-badge {
    position: absolute;
    text-align: right;
    top: 2%;
    right: 2%;
    font-size: 1em;
  }
  .common-product-container .product-item .product-badge .badge {
    background-color: var(--primary-color);
    font-family: "Work Sans", sans-serif;
    letter-spacing: 1px;
    border-radius: 10px 0px 10px 0px;
  }
  .common-product-container .product-action {
    position: absolute;
    bottom: 0;
    top: 30%;
    right: 8%;
    display: none;
    height: 0;
    transition: height 0.9s ease;
    transform: translateY(100%);
  }
  .common-product-container .product-item:hover .product-action {
    display: block;
    animation: slide-up 0.3s ease forwards;
    width: 100%;
  }
  .common-product-container .product-action ul {
    list-style-type: none;
    text-align: center;
    width: 100%;
  }
  .common-product-container .product-action ul li {
    display: inline;
    background-color: white;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    transition: 0.4s ease;
    cursor: pointer;
  }
  .common-product-container .product-action ul li:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    transition: 0.4s ease;
  }
  .common-product-container .product-action ul a {
    transition: 0.4s ease;
    margin: auto;
    text-decoration: none;
    color: var(--complementary-color);
    font-size: 0.9rem;
    width: 100%;
  }
  .common-product-container .product-action ul li:hover a {
    transition: 0.4s ease;
    color: var(--secondary-color);
  }
  .common-product-container .product-content {
    padding: 20px 10px 20px 15px;
    min-height: 165px;
  }
  .common-product-container .product-rating ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
  }
  .common-product-container .product-rating ul li {
    display: inline;
    color: orange;
    font-size: 0.8em;
  }
  .common-product-container .product-content .product-title {
    padding: 0px;
    margin: 5px 0px 0px 0px;
    transition: 0.5s ease;
  }
  .common-product-container .product-content .product-title a {
    text-decoration: none;
    font-size: 1em;
    font-family: "Belanosima", sans-serif;
    color: var(--complementary-color);
  }
  .common-product-container .product-content .product-title a:hover {
    transition: 0.5s ease;
    color: var(--primary-color);
  }
  .common-product-container .product-content .product-price {
    display: flex;
    grid-column: auto;
    column-gap: 10px;
    font-family: "Belanosima", sans-serif;
    font-weight: 500;
    color: var(--primary-color);
    vertical-align: middle;
    font-size: 1.1em;
    margin-top: 5px;
  }
  .common-product-container .product-content .product-deal-price {
    opacity: 0.8;
    text-decoration: line-through;
  }
  .common-product-container .view-all-products{
    margin-top: 20px;
  }
  .common-product-container .view-all-products a{
    text-decoration: none;
    font-size: 1rem;
    color: var(--secondary-color);
    font-family: 'Belanosima', sans-serif;
    background-color: var(--primary-color);
    padding: 10px;
  }
  .common-product-container .view-all-products a:hover{
    transition: 0.5s ease;
    background-color: #ff9f29;
    color: var(--secondary-color);
  }
  

  .product-item {
    padding: 0px;
    position: relative;
    border: 2px solid #eeeeee;
    width: 95%;
    margin: 10px;
  }
  .product-item:hover {
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  }
  .product-item .product-img {
    text-align: center;
    width: auto;
    height: auto;
    position: relative;
  }
  .product-img img {
    width: 100%;
    object-fit: fill;
    position: relative;
  }
  .product-item .product-badge {
    position: absolute;
    text-align: right;
    top: 2%;
    right: 2%;
    font-size: 1em;
  }
  .product-item .product-badge .badge {
    background-color: var(--primary-color);
    font-family: "Work Sans", sans-serif;
    letter-spacing: 1px;
    border-radius: 10px 0px 10px 0px;
  }
  .product-action {
    position: absolute;
    bottom: 0;
    top: 30%;
    right: 8%;
    display: none;
    height: 0;
    transition: height 0.9s ease;
    transform: translateY(100%);
  }
  .product-item:hover .product-action {
    display: block;
    animation: slide-up 0.3s ease forwards;
    width: 100%;
  }
  .product-action ul {
    list-style-type: none;
    text-align: center;
    width: 100%;
  }
  .product-action ul li {
    display: inline;
    background-color: white;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    transition: 0.4s ease;
    cursor: pointer;
  }
  .product-action ul li:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    transition: 0.4s ease;
  }
  .product-action ul a {
    transition: 0.4s ease;
    margin: auto;
    text-decoration: none;
    color: var(--complementary-color);
    font-size: 0.9rem;
    width: 100%;
  }
  .product-action ul li:hover a {
    transition: 0.4s ease;
    color: var(--secondary-color);
  }
  .product-content {
    padding: 20px 10px 20px 15px;
    min-height: 165px;
  }
  .product-rating ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
  }
  .product-rating ul li {
    display: inline;
    color: orange;
    font-size: 0.8em;
  }
  .product-content .product-title {
    padding: 0px;
    margin: 5px 0px 0px 0px;
    transition: 0.5s ease;
  }
  .product-content .product-title a {
    text-decoration: none;
    font-size: 1em;
    font-family: "Belanosima", sans-serif;
    color: var(--complementary-color);
  }
  .product-content .product-title a:hover {
    transition: 0.5s ease;
    color: var(--primary-color);
  }
  .product-content .product-price {
    display: flex;
    grid-column: auto;
    column-gap: 10px;
    font-family: "Belanosima", sans-serif;
    font-weight: 500;
    color: var(--primary-color);
    vertical-align: middle;
    font-size: 1.1em;
    margin-top: 5px;
  }
  .product-content .product-deal-price {
    opacity: 0.8;
    text-decoration: line-through;
  }

  .clients-testimonials-container {
    padding-top: 20px;
    padding-bottom: 30px;
    background-color: #f3f4f6;
  }
  .clients-testimonials-container .testimonial-item {
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    width: 95%;
    margin: 10px;
    height: 95%;
    padding: 10px;
    background-color: white;
  }
  .clients-testimonials-container #testimonialsCarousel .client-img {
    overflow: hidden;
  }
  .clients-testimonials-container #testimonialsCarousel .client-img img {
    width: auto;
    height: auto;
    object-fit: contain;
    margin-top: 30px;
    border-radius: 10px;
  }
  .clients-testimonials-container #testimonialsCarousel .client-details {
    padding: 10px 10px 0px 10px;
    position: relative;
    font-size: 0.9em;
    text-align: justify;
  }
  .clients-testimonials-container #testimonialsCarousel .review-content {
    font-family: "Belanosima", sans-serif;
  }
  .clients-testimonials-container #testimonialsCarousel .client-name {
    color: var(--primary-color);
    font-family: "Satisfy", cursive;
    position: absolute;
    bottom: -5%;
    font-size: 1.2em;
  }
  #testimonialsCarousel .carousel-control-prev,
  #testimonialsCarousel .carousel-control-next {
    background-color: var(--primary-color);
    width: 50px;
    height: 50px;
    padding: 10px;
    margin: auto;
    display: none;
    transition: 0.4s ease;
  }
  .clients-testimonials-container .heading {
    color: var(--complementary-color);
    font-size: 2.5rem;
    margin-bottom: 30px;
    font-family: "Belanosima", sans-serif;
  }
  .clients-testimonials-container
    #testimonialsCarousel:hover
    .carousel-control-prev,
  .clients-testimonials-container
    #testimonialsCarousel:hover
    .carousel-control-next {
    transition: 0.4s ease;
    display: block;
  }

  .health-wellness-container{
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .health-wellness-container .carousel-item{
    padding: 0px 20px 0px 10px;
  }
  #healthWellnessCarousel .carousel-item .col-6{
    padding: 0px;
  }
  #healthWellnessCarousel .carousel-control-prev,
  #healthWellnessCarousel .carousel-control-next {
    background-color: var(--primary-color);
    width: 30px;
    height: 30px;
    margin: auto;
    padding: 10px;
  }
  .health-wellness-container .heading {
    color: var(--complementary-color);
    font-size: 2rem;
    margin-bottom: 30px;
    font-family: "Belanosima", sans-serif;
  }
  
  .latest-blog-container{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #eeeeee;
  }
  .latest-blog-container .heading {
    color: var(--complementary-color);
    font-size: 2.5rem;
    margin-bottom: 20px;
    font-family: "Belanosima", sans-serif;
  }
  .latest-blog-container .card{
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    overflow: hidden;
    transition: 0.5s ease;
    margin-top: 15px;
  }
  .latest-blog-container .card .card-header{
    padding: 0px;
    overflow: hidden;
    transition: 0.5s ease;
  }
  .latest-blog-container .card .img{
    object-fit: cover;
    transition: 0.5s ease;
  }
  .latest-blog-container .card:hover img{
    object-fit: cover;
    transform: scale(1.1);
    transition: 0.5s ease;
  }
  .latest-blog-container .card .card-body{
    width: 100%;
  }
  .latest-blog-container .card i{
    font-size: 1em;
    color:  var(--primary-color);
    margin-right: 5px;
  }
  .latest-blog-container .card h3{
    margin-top: -15px;
  }
  .latest-blog-container .card .post-author{
    font-family: 'Belanosima', sans-serif;
  }
  .latest-blog-container .card h3 a{
    text-decoration: none;
    font-size:large;
    color: var(--complementary-color);
    font-weight: 600;
    transition: 0.4s ease;
  }
  .latest-blog-container .card h3 a:hover{
    transition: 0.4s ease;
    color: var(--primary-color);
  }
  .latest-blog-container .card-footer{
    background-color: white;
    padding: 15px;
  }
  .latest-blog-container .card-footer .post-date{
    font-family: 'Belanosima', sans-serif;
  }
  .latest-blog-container .action-link a{
    text-decoration: none;
    text-transform: uppercase;
    color: var(--primary-color);
    font-family: 'Belanosima', sans-serif;
    font-size: 0.7em;
    font-weight: 600;
    transition: 0.4s ease;
  } 
  .latest-blog-container .action-link a:hover{
    transition: 0.4s ease;
    color: var(--complementary-color);
    text-decoration: underline;
  }
  .latest-blog-container .view-all-blog{
    margin-top: 20px;
  }
  .latest-blog-container .view-all-blog a{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 10px;
    font-family: 'Belanosima', sans-serif;
    transition: 0.4s ease;
  }
  .latest-blog-container .view-all-blog a:hover{
    background-color: var(--accent-color);  
  }












  footer {
    background-color: var(--primary-color);
    clear: both;
  }
  footer #goToTop {
    text-decoration: none;
    text-align: center;
    color: var(--secondary-color);
  }
  footer .go-to-top-row {
    background-color: #285430;
    padding: 5px;
    transition: 0.2s ease;
  }
  footer .go-to-top-row:hover {
    background-color: #2c3333;
    transition: 0.2s ease;
  }
  footer .information-row {
    padding: 10px;
  }
  footer .col-12 {
    padding: 10px;
    overflow: hidden;
  }
  footer h5 {
    font-family: "Belanosima", sans-serif;
  }
  footer .company-col img {
    width: 100px;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
  }
  footer .company-col p {
    color: var(--secondary-color);
    font-size: var(--link-mobile-size);
    margin-top: 10px;
    text-align: justify;
  }
  footer .links-col .list-group {
    list-style-type: none;
  }
  footer .links-col .list-group li {
    background-color: transparent;
    border: none;
  }
  footer .links-col .list-group a {
    text-decoration: none;
    font-size: var(--link-mobile-size);
    color: var(--secondary-color);
    font-weight: 600;
    letter-spacing: 1px;
  }
  footer .links-col .list-group a:hover {
    color: var(--accent-color);
  }
  footer .links-col .list-group .active {
    color: var(--accent-color);
  }
  footer .contact-col table {
    background-color: transparent;
  }
  footer .contact-col table tr td {
    background-color: transparent;
    border: none;
    color: var(--secondary-color);
  }
  footer .contact-col table tr i {
    color: var(--accent-color);
    font-size: 1em;
  }
  footer .contact-col table tr a {
    text-decoration: none;
    color: var(--secondary-color);
  }
  footer .contact-col table tr a:hover {
    color: var(--accent-color);
    border-bottom: 1px solid black;
  }
  footer .contact-col table tr p {
    color: var(--complementary-color);
    font-size: var(--link-mobile-size);
    font-family: "Belanosima", sans-serif;
    font-size: 1em;
  }
  footer .newsletter-col p {
    font-weight: 600;
  }
  footer .newsletter-col input {
    border: none;
    outline: none;
    border-radius: 0px;
  }
  footer .newsletter-col input:focus {
    outline: none;
    box-shadow: none;
  }
  footer .newsletter-col #news-letter-input {
    background-color: white;
    color: var(--secondary-color);
    border: none;
    outline: none;
    border-radius: 0px;
    background-color: var(--complementary-color);
    width: 70px;
  }
  footer .newsletter-col #news-letter-input:hover {
    background-color: var(--accent-color);
    color: var(--secondary-color);
  }
  footer .social-media-row ul a {
    text-decoration: none;
    font-size: 1.5em;
    padding: 10px;
    color: var(--complementary-color);
  }
  footer .social-media-row ul a:hover {
    color: var(--accent-color);
    background-color: var(--complementary-color);
  }
  footer .social-media-row ul li {
    display: inline;
  }
  footer .copyright-row {
    text-align: center;
  }
  footer .copyright-row .copyright-col p {
    font-family: "Belanosima", sans-serif;
    color: var(--secondary-color);
  }
  footer .payment-gateway-col {
    text-align: center;
  }
  footer .payment-gateway-col img {
    width: 170px;
    height: auto;
  }
  footer .temrs-policy-col li {
    background-color: transparent;
    border: none;
  }
  footer .temrs-policy-col li a {
    text-decoration: none;
    color: var(--secondary-color);
  }
  footer .temrs-policy-col li a:hover {
    color: var(--accent-color);
    border-bottom: 1px solid black;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .navbar {
    background-color: var(--primary-color);
    padding: 10px;
  }
  .navbar .navbar-brand img {
    width: 80px;
    transform: scale(1.1);
  }
  .navbar .dropdown-menu {
    border-radius: 0px;
  }
  .navbar .navbar-toggler {
    border: none;
  }
  .bar1,
  .bar2,
  .bar3 {
    width: 35px;
    height: 3px;
    background-color: var(--accent-color);
    margin: 8px 0;
    transition: 0.4s;
  }
  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }
  .change .bar2 {
    opacity: 0;
  }
  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }
  .navbar .dropdown-menu .dropdown-item:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
  }
  .navbar .navbar-nav .nav-link {
    color: white;
    font-weight: 600;
    font-size: var(--link-mobile-size);
  }
  .navbar .navbar-nav .active {
    color: var(--accent-color);
  }
  .navbar form select {
    background-color: #2c3333;
    color: var(--secondary-color);
    font-size: 14px;
    outline: none;
    border: 0px;
    border: 0px;
  }
  .navbar form .search-input {
    object-fit: cover;
    width: 200px;
    outline: none;
    border-radius: 20px 0px 0px 20px;
  }
  .navbar form #search-button {
    background-color: #2c3333;
    color: var(--secondary-color);
    outline: none;
    border: 0px;
  }
  .navbar form #search-button:hover {
    background-color: var(--complementary-color);
    color: var(--secondary-color);
  }
  .navbar .icon-container {
    align-items: first baseline;
    column-gap: 10px;
    float: left;
    margin-top: 10px;
  }

  .navbar .icon-container i {
    margin-right: 5px;
    color: var(--accent-color);
    transition: 0.5s ease;
    font-size: 1.2em;
  }
  .navbar .icon-container a {
    text-decoration: none;
    color: var(--secondary-color);
    font-size: var(--link-mobile-size);
  }
  .navbar .icon-container a:hover i {
    transition: 0.5s ease;
    color: #ff9f29;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #loader img {
    width: 300px;
    border-radius: 50%;
    animation: blink 1s infinite;
  }
  .loader-text {
    margin-top: 10px;
    font-family: "Belanosima", sans-serif;
    color: var(--secondary-color);
    font-size: 1.2em;
  }
  .navbar {
    background-color: var(--primary-color);
    padding: 10px 30px 10px 30px;
  }
  .navbar .navbar-brand img {
    width: 100px;
    transform: scale(1.2);
  }
  .navbar .dropdown-menu {
    border-radius: 0px;
  }
  .navbar .dropdown-menu .dropdown-item:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
  }
  .navbar .navbar-nav .nav-link {
    color: white;
    font-weight: 600;
    font-size: var(--link-desktop-size);
  }
  .navbar .navbar-nav .active {
    color: var(--accent-color);
  }
  .navbar form select {
    background-color: #2c3333;
    color: var(--secondary-color);
    font-size: 14px;
    outline: none;
    border: 0px;
    border: 0px;
  }
  .navbar form .search-input {
    object-fit: cover;
    width: 200px;
    outline: none;
  }
  .navbar form #search-button {
    background-color: #2c3333;
    color: var(--secondary-color);
    outline: none;
    border: 0px;
  }
  .navbar form #search-button:hover {
    background-color: var(--complementary-color);
    color: var(--secondary-color);
  }
  .navbar .icon-container {
    align-items: first baseline;
    column-gap: 20px;
  }
  .navbar .icon-container i {
    margin-right: 5px;
    color: var(--accent-color);
    transition: 0.5s ease;
    font-size: 1.2em;
  }
  .navbar .icon-container a {
    text-decoration: none;
    color: var(--secondary-color);
    font-size: var(--link-desktop-size);
  }
  .navbar .icon-container a:hover i {
    transition: 0.5s ease;
    color: #ff9f29;
  }

  #carouselExampleCaptions {
    height: 650px;
    overflow: hidden;
  }
  #carouselExampleCaptions .carousel-inner,
  #carouselExampleCaptions .carousel-item {
    height: 650px;
  }
  #carouselExampleCaptions .carousel-inner img {
    height: 650;
    object-fit: cover;
  }
  #carouselExampleCaptions .carousel-caption {
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    color: var(--complementary-color);
  }
  #carouselExampleCaptions .carousel-caption h5 {
    color: var(--primary-color);
    font-family: "Belanosima", sans-serif;
    font-size: 4rem;
    margin-bottom: 20px;
  }
  #carouselExampleCaptions .carousel-caption p {
    font-family: "Satisfy", cursive;
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  #carouselExampleCaptions .carousel-caption .btn {
    outline: none;
    border: 1px solid var(--primary-color);
    background-color: transparent;
    color: var(--complementary-color);
    border-radius: 0px;
    font-family: "Belanosima", sans-serif;
    font-size: 1.1rem;
  }
  #carouselExampleCaptions .carousel-caption .btn:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
  }
  #carouselExampleCaptions .carousel-control-prev,
  #carouselExampleCaptions .carousel-control-next {
    background-color: var(--primary-color);
    height: 50px;
    width: 50px;
    margin: auto;
    color: var(--complementary-color);
    opacity: 1;
  }
  #carouselExampleCaptions .carousel-control-prev:hover,
  #carouselExampleCaptions .carousel-control-next:hover {
    opacity: 0.9;
  }
  #carouselExampleCaptions .carousel-indicators button {
    background-color: var(--primary-color);
    height: 10px;
    opacity: 1;
  }
  #carouselExampleCaptions .carousel-indicators .active {
    color: var(--complementary-color);
    background-color: #212121;
  }
  .advertisement-container {
    background: linear-gradient(
      305deg,
      rgba(255, 193, 7, 1) 35%,
      rgba(76, 175, 80, 1) 72%
    );
    padding: 50px 180px 50px 180px;
  }
  .advertisement-container .col-lg-6 {
    color: black;
    height: 500px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
  }
  .advertisement-container .large-ad img {
    width: 100%;
    position: relative;
    object-fit: contain;
    height: 500px;
    transform: scale(1.2);
    transition: 0.5s ease;
  }
  .advertisement-container .large-ad .content {
    position: absolute;
    top: 10%;
    width: 100%;
    padding: 10px;
  }
  .advertisement-container .large-ad .content h4 {
    color: var(--complementary-color);
    font-family: "Belanosima", sans-serif;
    font-size: 45px;
  }
  .advertisement-container .large-ad .content .btn {
    margin-top: 10px;
    outline: none;
    border: 1px solid var(--primary-color);
    background-color: transparent;
    color: var(--complementary-color);
    border-radius: 0px;
    font-family: "Belanosima", sans-serif;
    font-size: 1.1rem;
  }
  .advertisement-container .large-ad .content .btn:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
  }
  .advertisement-container .small-ad-row {
    height: 240px;
    width: 100%;
    position: relative;
    background-color: var(--secondary-color);
    margin: 5px;
    overflow: hidden;
    border-radius: 10px;
  }
  .advertisement-container .small-ad-row img {
    width: 100%;
    height: 90%;
    object-fit: contain;
    transition: 0.5s ease;
  }
  .advertisement-container .small-ad-row .ad-right-side .content {
    position: absolute;
    top: 25%;
    left: 3%;
    width: 100%;
  }
  .advertisement-container .ad-right-side .content h4 {
    color: var(--complementary-color);
    font-family: "Belanosima", sans-serif;
    font-size: 30px;
  }
  .advertisement-container .stylish-font {
    font-family: "Satisfy", cursive;
    color: var(--accent-color);
  }
  .stylish-font {
    font-family: "Satisfy", cursive;
    color: var(--accent-color);
  }
  .advertisement-container .ad-right-side .content .btn {
    margin-top: 10px;
    outline: none;
    border: 1px solid var(--primary-color);
    background-color: transparent;
    color: var(--complementary-color);
    border-radius: 0px;
    font-family: "Belanosima", sans-serif;
    font-size: 1rem;
  }
  .advertisement-container .ad-right-side .content .btn:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
  }
  .advertisement-container .small-ad-row .ad-left-side .content {
    position: absolute;
    text-align: right;
    top: 15%;
    right: 3%;
    width: 100%;
  }
  .advertisement-container .ad-left-side .content h4 {
    color: var(--complementary-color);
    font-family: "Belanosima", sans-serif;
    font-size: 30px;
  }
  .advertisement-container .ad-left-side .content .btn {
    margin-top: 10px;
    outline: none;
    border: 1px solid var(--primary-color);
    background-color: transparent;
    color: var(--complementary-color);
    border-radius: 0px;
    font-family: "Belanosima", sans-serif;
    font-size: 1rem;
  }
  .advertisement-container .ad-left-side .content .btn:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
  }
  .advertisement-container .large-ad:hover img {
    transition: 0.5s ease;
    transform: scale(1.3);
  }
  .advertisement-container .small-ad-col:hover img {
    transition: 0.5s ease;
    transform: scale(1.1);
  }
  .common-product-container {
    padding: 50px 150px 50px 150px;
  }
  .common-product-container .heading {
    color: var(--complementary-color);
    font-size: 3.5rem;
    margin-bottom: 30px;
    font-family: "Belanosima", sans-serif;
  }
  .common-product-container .col-md-3 {
    padding: 0px;
  }
  .common-product-container .product-item {
    padding: 0px;
    position: relative;
    border: 2px solid #eeeeee;
    width: 95%;
    margin: 10px;
  }
  .common-product-container .product-item:hover {
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  }
  .common-product-container .product-item .product-img {
    text-align: center;
    width: auto;
    height: auto;
    position: relative;
  }
  .common-product-container .product-img img {
    width: 100%;
    object-fit: fill;
    position: relative;
  }
  .common-product-container .product-item .product-badge {
    position: absolute;
    text-align: right;
    top: 2%;
    right: 2%;
    font-size: 1.2em;
  }
  .common-product-container .product-item .product-badge .badge {
    background-color: var(--primary-color);
    font-family: "Work Sans", sans-serif;
    letter-spacing: 1px;
    border-radius: 10px 0px 10px 0px;
  }
  .common-product-container .product-action {
    position: absolute;
    bottom: 0;
    top: 30%;
    left: 15%;
    display: none;
    height: 0;
    transition: height 0.9s ease;
    transform: translateY(100%);
  }
  .common-product-container .product-item:hover .product-action {
    display: block;
    animation: slide-up 0.3s ease forwards;
  }
  .common-product-container .product-action ul {
    list-style-type: none;
    text-align: center;
    vertical-align: middle;
  }
  .common-product-container .product-action ul li {
    display: inline;
    background-color: white;
    padding: 15px;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    transition: 0.4s ease;
    cursor: pointer;
  }
  .common-product-container .product-action ul li:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    transition: 0.4s ease;
  }
  .common-product-container .product-action ul a {
    transition: 0.4s ease;
    margin: auto;
    text-decoration: none;
    color: var(--complementary-color);
    font-size: 1.1rem;
    width: 100%;
  }
  .common-product-container .product-action ul li:hover a {
    transition: 0.4s ease;
    color: var(--secondary-color);
  }
  .common-product-container .product-content {
    padding: 20px 10px 20px 15px;
    min-height: 165px;
  }
  .common-product-container .product-rating ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
  }
  .common-product-container .product-rating ul li {
    display: inline;
    color: orange;
    font-size: 0.9em;
  }
  .common-product-container .product-content .product-title {
    padding: 0px;
    margin: 5px 0px 0px 0px;
    transition: 0.5s ease;
  }
  .common-product-container .product-content .product-title a {
    text-decoration: none;
    font-size: 1.2em;
    font-family: "Belanosima", sans-serif;
    color: var(--complementary-color);
  }
  .common-product-container .product-content .product-title a:hover {
    transition: 0.5s ease;
    color: var(--primary-color);
  }
  .common-product-container .product-content .product-price {
    display: flex;
    grid-column: auto;
    column-gap: 10px;
    font-family: "Belanosima", sans-serif;
    font-weight: 500;
    color: var(--primary-color);
    vertical-align: middle;
    font-size: 1.3em;
    margin-top: 5px;
  }
  .common-product-container .product-content .product-deal-price {
    opacity: 0.8;
    text-decoration: line-through;
  }
  .common-product-container .view-all-products{
    margin-top: 20px;
  }
  .common-product-container .view-all-products a{
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--secondary-color);
    font-family: 'Belanosima', sans-serif;
    background-color: var(--primary-color);
    padding: 10px;
  }
  .common-product-container .view-all-products a:hover{
    transition: 0.5s ease;
    background-color: #ff9f29;
    color: var(--secondary-color);
  }








  .product-item {
    padding: 0px;
    position: relative;
    border: 2px solid #eeeeee;
    width: 95%;
    margin: 10px;
  }
  .product-item:hover {
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  }
  .product-item .product-img {
    text-align: center;
    width: auto;
    height: auto;
    position: relative;
    border-bottom: 2px solid #eeeeee;
  }
  .product-img img {
    width: 100%;
    object-fit: fill;
    position: relative;
  }
  .product-item .product-badge {
    position: absolute;
    text-align: right;
    top: 2%;
    right: 2%;
    font-size: 1.2em;
  }
  .product-item .product-badge .badge {
    background-color: var(--primary-color);
    font-family: "Work Sans", sans-serif;
    letter-spacing: 1px;
    border-radius: 10px 0px 10px 0px;
  }
  .product-action {
    position: absolute;
    bottom: 0;
    top: 30%;
    left: 15%;
    display: none;
    height: 0;
    transition: height 0.9s ease;
    transform: translateY(100%);
  }
  .product-item:hover .product-action {
    display: block;
    animation: slide-up 0.3s ease forwards;
  }
  .product-action ul {
    list-style-type: none;
    text-align: center;
    vertical-align: middle;
  }
  .product-action ul li {
    display: inline;
    background-color: white;
    padding: 15px;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    transition: 0.4s ease;
    cursor: pointer;
  }
  .product-action ul li:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    transition: 0.4s ease;
  }
  .product-action ul a {
    transition: 0.4s ease;
    margin: auto;
    text-decoration: none;
    color: var(--complementary-color);
    font-size: 1.1rem;
    width: 100%;
  }
  .product-action ul li:hover a {
    transition: 0.4s ease;
    color: var(--secondary-color);
  }
  .product-content {
    padding: 20px 10px 20px 15px;
    min-height: 165px;
  }
  .product-rating ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
  }
  .product-rating ul li {
    display: inline;
    color: orange;
    font-size: 0.9em;
  }
  .product-content .product-title {
    padding: 0px;
    margin: 5px 0px 0px 0px;
    transition: 0.5s ease;
  }
  .product-content .product-title a {
    text-decoration: none;
    font-size: 1.2em;
    font-family: "Belanosima", sans-serif;
    color: var(--complementary-color);
  }
  .product-content .product-title a:hover {
    transition: 0.5s ease;
    color: var(--primary-color);
  }
  .product-content .product-price {
    display: flex;
    grid-column: auto;
    column-gap: 10px;
    font-family: "Belanosima", sans-serif;
    font-weight: 500;
    color: var(--primary-color);
    vertical-align: middle;
    font-size: 1.3em;
    margin-top: 5px;
  }
  .product-content .product-deal-price {
    opacity: 0.8;
    text-decoration: line-through;
  }
  .health-wellness-container {
    padding: 50px;
  }
  .health-wellness-container #healthWellnessCarousel {
    padding: 0px 70px 10px 70px;
  }
  #healthWellnessCarousel .carousel-control-prev,
  #healthWellnessCarousel .carousel-control-next {
    background-color: var(--primary-color);
    width: 50px;
    height: 50px;
    margin: auto;
  }
  .health-wellness-container .heading {
    color: var(--complementary-color);
    font-size: 3.5rem;
    margin-bottom: 30px;
    font-family: "Belanosima", sans-serif;
  }

  .clients-testimonials-container {
    padding: 50px;
    background-color: #f3f4f6;
  }
  .clients-testimonials-container .testimonial-item {
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    width: 95%;
    margin: 10px;
    height: 95%;
    padding: 15px;
    background-color: white;
  }
  .clients-testimonials-container #testimonialsCarousel .client-img {
    overflow: hidden;
  }
  .clients-testimonials-container #testimonialsCarousel .client-img img {
    width: 350px;
    height: 100%;
    object-fit: cover;
  }
  .clients-testimonials-container #testimonialsCarousel .client-details {
    padding: 10px 10px 0px 10px;
    position: relative;
  }
  .clients-testimonials-container #testimonialsCarousel .review-content {
    font-family: "Belanosima", sans-serif;
  }
  .clients-testimonials-container #testimonialsCarousel .client-name {
    color: var(--primary-color);
    font-family: "Satisfy", cursive;
    position: absolute;
    bottom: -5%;
  }
  #testimonialsCarousel .carousel-control-prev,
  #testimonialsCarousel .carousel-control-next {
    background-color: var(--primary-color);
    width: 50px;
    height: 50px;
    padding: 10px;
    margin: auto;
    display: none;
    transition: 0.4s ease;
  }
  .clients-testimonials-container .heading {
    color: var(--complementary-color);
    font-size: 3.5rem;
    margin-bottom: 30px;
    font-family: "Belanosima", sans-serif;
  }
  .clients-testimonials-container
    #testimonialsCarousel:hover
    .carousel-control-prev,
  .clients-testimonials-container
    #testimonialsCarousel:hover
    .carousel-control-next {
    transition: 0.4s ease;
    display: block;
  }
  .latest-blog-container{
    padding: 50px 120px 50px 120px;
    background-color: #eeeeee;
  }
  .latest-blog-container .heading {
    color: var(--complementary-color);
    font-size: 3.5rem;
    margin-bottom: 30px;
    font-family: "Belanosima", sans-serif;
  }
  .latest-blog-container .card{
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    width: 95%;
    overflow: hidden;
    transition: 0.5s ease;
  }
  .latest-blog-container .card .card-header{
    padding: 0px;
    overflow: hidden;
    transition: 0.5s ease;

  }
  .latest-blog-container .card .img{
    object-fit: cover;
    transition: 0.5s ease;
  }
  .latest-blog-container .card:hover img{
    object-fit: cover;
    transform: scale(1.1);
    transition: 0.5s ease;
  }
  .latest-blog-container .card .card-body{
    width: 100%;
  }
  .latest-blog-container .card i{
    font-size: 1.1em;
    color:  var(--primary-color);
    margin-right: 5px;
  }
  .latest-blog-container .card h3{
    margin-top: -15px;
  }
  .latest-blog-container .card .post-author{
    font-family: 'Belanosima', sans-serif;
  }
  .latest-blog-container .card h3 a{
    text-decoration: none;
    font-size:large;
    color: var(--complementary-color);
    font-weight: 600;
    transition: 0.4s ease;
  }
  .latest-blog-container .card h3 a:hover{
    transition: 0.4s ease;
    color: var(--primary-color);
  }
  .latest-blog-container .card-footer{
    background-color: white;
    padding: 20px;
  }
  .latest-blog-container .card-footer .post-date{
    font-family: 'Belanosima', sans-serif;
  }
  .latest-blog-container .action-link a{
    text-decoration: none;
    text-transform: uppercase;
    color: var(--primary-color);
    font-family: 'Belanosima', sans-serif;
    font-size: 0.9em;
    font-weight: 600;
    transition: 0.4s ease;
  } 
  .latest-blog-container .action-link a:hover{
    transition: 0.4s ease;
    color: var(--complementary-color);
    text-decoration: underline;
  }
  .latest-blog-container .view-all-blog{
    margin-top: 50px;
  }
  .latest-blog-container .view-all-blog a{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 10px;
    font-family: 'Belanosima', sans-serif;
    transition: 0.4s ease;
  }
  .latest-blog-container .view-all-blog a:hover{
    background-color: var(--accent-color);  
  }






















  footer {
    background-color: var(--primary-color);
    clear: both;
  }
  footer #goToTop {
    text-decoration: none;
    text-align: center;
    color: var(--secondary-color);
  }
  footer .go-to-top-row {
    background-color: #285430;
    padding: 10px;
    transition: 0.2s ease;
  }
  footer .go-to-top-row:hover {
    background-color: #2c3333;
    transition: 0.2s ease;
  }
  footer .information-row {
    padding: 20px;
  }
  footer .col-12 {
    padding: 10px;
    overflow: hidden;
  }
  footer h5 {
    font-family: "Belanosima", sans-serif;
  }
  footer .company-col img {
    width: 120px;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
  }
  footer .company-col p {
    color: var(--secondary-color);
    font-size: var(--link-mobile-size);
    margin-top: 10px;
    text-align: justify;
  }
  footer .links-col .list-group {
    list-style-type: none;
  }
  footer .links-col .list-group li {
    background-color: transparent;
    border: none;
  }
  footer .links-col .list-group a {
    text-decoration: none;
    font-size: var(--link-mobile-size);
    color: var(--secondary-color);
    font-weight: 600;
    letter-spacing: 1px;
  }
  footer .links-col .list-group a:hover {
    color: var(--accent-color);
  }
  footer .links-col .list-group .active {
    color: var(--accent-color);
  }
  footer .contact-col table {
    background-color: transparent;
  }
  footer .contact-col table tr td {
    background-color: transparent;
    border: none;
    color: var(--secondary-color);
  }
  footer .contact-col table tr i {
    color: var(--accent-color);
    font-size: 1.2em;
  }
  footer .contact-col table tr a {
    text-decoration: none;
    color: var(--secondary-color);
  }
  footer .contact-col table tr a:hover {
    color: var(--accent-color);
    border-bottom: 1px solid black;
  }
  footer .contact-col table tr p {
    color: var(--complementary-color);
    font-size: var(--link-desktop-size);
    font-family: "Belanosima", sans-serif;
    font-size: 1.2em;
  }
  footer .newsletter-col p {
    font-weight: 600;
  }
  footer .newsletter-col input {
    border: none;
    outline: none;
    border-radius: 0px;
  }
  footer .newsletter-col input:focus {
    outline: none;
    box-shadow: none;
  }
  footer .newsletter-col #news-letter-input {
    background-color: white;
    color: var(--secondary-color);
    border: none;
    outline: none;
    border-radius: 0px;
    background-color: var(--complementary-color);
    width: 70px;
  }
  footer .newsletter-col #news-letter-input:hover {
    background-color: var(--accent-color);
    color: var(--secondary-color);
  }
  footer .social-media-row ul a {
    text-decoration: none;
    font-size: 1.5em;
    padding: 10px;
    color: var(--complementary-color);
  }
  footer .social-media-row ul a:hover {
    color: var(--accent-color);
    background-color: var(--complementary-color);
  }
  footer .social-media-row ul li {
    display: inline;
  }
  footer .copyright-row {
    vertical-align: middle;
  }
  footer .copyright-row .copyright-col p {
    font-family: "Belanosima", sans-serif;
    color: var(--secondary-color);
  }
  footer .payment-gateway-col {
    text-align: center;
  }
  footer .payment-gateway-col img {
    width: 200px;
    height: auto;
  }
  footer .temrs-policy-col ul {
    list-style-type: none;
    float: right;
    margin-top: -40px;
  }
  footer .temrs-policy-col li {
    background-color: transparent;
    border: none;
  }
  footer .temrs-policy-col li a {
    text-decoration: none;
    color: var(--secondary-color);
  }
  footer .temrs-policy-col li a:hover {
    color: var(--accent-color);
    border-bottom: 1px solid black;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
